{
	"extends": [
		"react-app", "react-app/jest"
	],
	"plugins": [
		"react", "react-hooks/recommended", "autofix"
	],
	
	"rules": {
		"no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
		"quotes": [
			"error", "single"
		],
		"prefer-const": "error",
		"max-len": [
			"warn", {
				"code": 130
			}
		],
    "semi":["warn", "always"],
		"arrow-body-style": [
			"error", "as-needed"
		],
    
		"react/self-closing-comp": [
			"error", {
				"component": true,
				"html": true
			}
		],
		"import/resolver": {
			"node": {
					"extensions": [".js", ".jsx", ".ts", ".tsx"],
					"moduleDirectory": ["node_modules", "src/components"]
			}
	},
		
		"import/order": [
			"error", {
				"groups": [
					"builtin",
					"external",
					"parent",
					"sibling",
					"index",
					"object",
					"type"
				],
				
				"pathGroups": [
					{
						"pattern": "@/**/**",
						"group": "parent",
						"position": "before"
					}
				],
				"alphabetize": {
					"order": "asc"
				}
			}
		]
	}
}
